@{
    ViewBag.Title = "AllUserPresentation";
}

<h2>AllUserPresentation</h2>
@using (Html.BeginForm())
{
    <table>
        @foreach (var presentation in ViewBag.Presentations)
        {      
            <tr>
                <td>
                @Html.ActionLink((string)presentation.Name,"SelectPresentation",new {id = presentation.PresentationId})
                </td>
                <td>@presentation.About
                </td>
            </tr>           
        }
    </table>
   
}